div#header{
  text-align: center;
  margin-top: 5em;
  margin-bottom: 5em;
}

figcaption {
  font-weight: bold;
  font-size: 75%;
}

div.figure {
  width: 675px;
  margin: 3em auto;
}


body {
  font-family: "Times New Roman", sans-serif;
}